
<section id="about">
	

<p>I am Badar Saghir, I am webdeveloper and SEO Specailist. I will make such websites which are like by google And make your life easy. I will also guide you in the SEO stategy. I am currently working as a freelancer on fiverr.</p>
<p>I have command over the technologies like nodejs, html5,css, ejs, boostrap, express, Javscript, jQuert and boostrap.</p>

</section>