

<form id="postnow" class="col-form-label" action="/post" method="POST" accept-charset="utf-8">
	<label class="col-form-label"> Topic<br><input type="text" name="topic"></label> 
	<label class="col-form-label area" size = 150> Content<br><textarea name="content" class=".mybox" cols="90" rows="5"></textarea></label>
	<button type="submit" class="btn btn-primary" value="submit">Post Now</button>	
</form>
